.container {
    perspective: 1000px;
}

.title {
    margin: 50px 0px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    width: 15%;
    height: 80px;
    justify-content: center;
    border-radius: 10px;
}

.container {
    perspective: 1000px;
}

.category {
    position: relative;
    overflow: hidden; /* Ensure the shine effect does not overflow */
    transition: all 0.3s ease;
    transform-style: preserve-3d; /* Ensure 3D transforms are preserved */
    background-size: 200% 200%;
}

.category.style {
    background: linear-gradient(to right, #57c4ff31, white);
}

.category.fashion {
    background: linear-gradient(to right, #da85c731, white);
}

.category.food {
    background: linear-gradient(to right, #7fb88133, white);
}

.category.travel {
    background: linear-gradient(to right, #ff795736, white);
}

.category.culture {
    background: linear-gradient(to right, #ffb04f45, white);
}

.category.coding {
    background: linear-gradient(to right, #5e4fff31, white);
}

.category:hover {
    transform: translate3d(5px, -5px, 20px); /* Move diagonally and in z-direction */
}

.category::before {
    content: '';
    position: absolute;
    top: -100%; /* Start above the element */
    left: -100%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.4);
    transform: rotate(45deg);
    transition: all 0.3s ease;
    pointer-events: none; /* Prevent interaction with the pseudo-element */
}

.category:hover::before {
    top: 100%;
    left: 100%;
    transition: all 0.3s ease; /* Move the shine effect */
}

.image {
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .category {
        width: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .category {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .category {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .category {
        width: 90%;
    }
}
